servers:
- name: web-with-mtls
  listener:
    host: 127.0.0.1
    port: 8080
    tlsConfig:
      mode: mutual
      cert: certs/localhost.pem
      key: certs/localhost-key.pem
      caCert: certs/ca-cert.pem
    # set timeout default is 300
    timeout: 60
  targets:
    - host: 172.17.0.2
      port: 80
      timeout: 60
      tlsConfig:
        mode: simple
        caCert: certs/ca-cert.pem
  mirror:
    host: 172.17.0.3
    port: 80
- name: webserver
  listener:
    host: 127.0.0.1
    port: 8081
  targets:
    - host: 127.0.0.1
      port: 80
